<div class="container flex justify-content-center align-items-center">
  <div class="form-container">
    <h1>
      {{
        isEditMode
          ? ("EDIT_EMPLOYEE" | translate)
          : ("ADD_NEW_EMPLOYEE" | translate)
      }}
    </h1>
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit($event)">
      <div class="switch-group">
        <label>{{ "STATUS" | translate }}</label>
        <p-inputSwitch formControlName="status"></p-inputSwitch>
      </div>
      <div class="form-group" *ngIf="isEditMode">
        <label>{{ "ID" | translate }}</label>
        <input type="number" pInputText formControlName="id" />
      </div>
      <div class="form-group">
        <label>{{ "FIRST_NAME" | translate }}</label>
        <input type="text" pInputText formControlName="firstName" />
        <div
          *ngIf="
            employeeForm.get('firstName')!.invalid &&
            employeeForm.get('firstName')!.touched
          "
        >
          <small class="p-error">{{ "FIRST_NAME_ERROR" | translate }}</small>
        </div>
      </div>
      <div class="form-group">
        <label>{{ "LAST_NAME" | translate }}</label>
        <input type="text" pInputText formControlName="lastName" />
        <div
          *ngIf="
            employeeForm.get('lastName')!.invalid &&
            employeeForm.get('lastName')!.touched
          "
        >
          <small class="p-error">{{ "LAST_NAME_ERROR" | translate }}</small>
        </div>
      </div>
      <div class="form-group">
        <label>{{ "PHONE_NUMBER" | translate }}</label>
        <p-inputMask
          formControlName="phoneNumber"
          mask="(999) 999-9999"
          placeholder="(999) 999-9999"
          class="p-fluid"
        ></p-inputMask>
        <div
          *ngIf="
            employeeForm.get('phoneNumber')!.invalid &&
            employeeForm.get('phoneNumber')!.touched
          "
        >
          <small class="p-error">{{ "PHONE_NUMBER_ERROR" | translate }}</small>
        </div>
      </div>
      <div class="form-group">
        <label>{{ "EMAIL" | translate }}</label>
        <input type="email" pInputText formControlName="email" />
        <div
          *ngIf="
            employeeForm.get('email')!.touched &&
            employeeForm.get('email')!.invalid
          "
        >
          <small
            class="p-error"
            *ngIf="employeeForm.get('email')?.errors?.['emailExists']"
          >
            {{ "EMAIL_ERROR_EXISTS" | translate }}
          </small>
          <small
            class="p-error"
            *ngIf="employeeForm.get('email')?.errors && !employeeForm.get('email')?.errors?.['emailExists']"
          >
            {{ "EMAIL_ERROR" | translate }}
          </small>
        </div>
      </div>
      <div class="form-group">
        <label>{{ "DEPARTMENT" | translate }}</label>
        <p-dropdown
          [options]="departments"
          formControlName="department"
          placeholder="{{ 'SELECT_DEPARTMENT' | translate }}"
          optionLabel="label"
          class="p-fluid"
        ></p-dropdown>
      </div>
      <div class="form-group">
        <label>{{ "SALARY" | translate }}</label>
        <input type="number" pInputText formControlName="salary" />
      </div>
      <div class="form-group">
        <label>{{ "ENTRY_DATE" | translate }}</label>
        <p-calendar
          formControlName="entryDate"
          dateFormat="yy-mm-dd"
          class="p-fluid"
        ></p-calendar>
      </div>
      <div class="form-group" *ngIf="!employeeForm.get('status')!.value">
        <label>{{ "LEAVE_DATE" | translate }}</label>
        <p-calendar
          formControlName="leaveDate"
          dateFormat="yy-mm-dd"
          class="p-fluid"
        ></p-calendar>
      </div>
      <div class="button-group">
        <div class="card flex justify-content-start">
          <button
            pButton
            pRipple
            label="{{ 'BACK' | translate }}"
            class="p-button-secondary"
            (click)="onBack($event)"
          ></button>
        </div>
        <div class="card flex justify-content-end">
          <button
            pButton
            pRipple
            [label]="saving ? ('SAVING' | translate) : ('SAVE' | translate)"
            class="p-button-success"
            [disabled]="employeeForm.invalid || saving"
          ></button>
        </div>
      </div>
    </form>
  </div>
</div>
