.container {
  padding: 10px;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-input {
  margin-left: 10px;
}

.p-table {
  margin-top: 20px;
  overflow-x: auto;
}

.p-button {
  margin: 5px;
}

.action-link {
  cursor: pointer;
  color: #050505;
}

.action-link:hover {
  text-decoration: underline;
  color: #202122;
}

.actions-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.back-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 2.5em;
  }

  .p-table {
    font-size: 0.9em;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 2em;
  }

  .p-table {
    font-size: 0.8em;
  }

  .toolbar {
    flex-direction: column;
  }

  .button-group {
    margin-top: 10px;
    justify-content: center;
  }

  .search-container {
    justify-content: center;
    margin-bottom: 10px;
  }

  .p-button {
    width: 100%;
    margin: 5px 0;
  }

  .back-button-container {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8em;
  }

  .p-table {
    font-size: 0.7em;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.5em;
  }

  .p-table {
    font-size: 0.6em;
  }

  .toolbar {
    flex-direction: column;
  }

  .button-group {
    width: 100%;
  }

  .search-container {
    width: 100%;
  }

  .p-button {
    width: 100%;
    margin: 5px 0;
  }

  .back-button-container {
    justify-content: center;
  }
}
