<div class="container">
  <h1>{{ "EMPLOYEE_LIST" | translate }}</h1>
  <div class="button-group">
    <button
      pButton
      type="button"
      [label]="'ADD_NEW_EMPLOYEE' | translate"
      icon="pi pi-plus"
      (click)="onAddEmployee()"
      class="p-button-rounded p-button-success"
    ></button>
    <button
      pButton
      type="button"
      [label]="'DELETE_SELECTED_ROWS' | translate"
      icon="pi pi-trash"
      (click)="confirmDeleteSelected()"
      [disabled]="!hasSelectedEmployees()"
      class="p-button-rounded p-button-danger"
    ></button>
    <button
      pButton
      type="button"
      label="{{ 'GO_BACK_TO_HOME' | translate }}"
      icon="pi pi-home"
      (click)="goBackToHome()"
      class="p-button-rounded p-button-info"
    ></button>
  </div>

  <p-table
    [value]="employees"
    [(selection)]="selectedEmployees"
    dataKey="id"
    styleClass="p-datatable-gridlines custom-table"
    [tableStyle]="{ 'min-width': '80rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-checkbox
            [(ngModel)]="allChecked"
            binary="true"
            (onChange)="toggleSelectAll($event)"
          ></p-checkbox>
        </th>
        <th>{{ "STATUS" | translate }}</th>
        <th>{{ "ID" | translate }}</th>
        <th>{{ "FIRST_NAME" | translate }}</th>
        <th>{{ "LAST_NAME" | translate }}</th>
        <th>{{ "PHONE_NUMBER" | translate }}</th>
        <th>{{ "EMAIL" | translate }}</th>
        <th>{{ "DEPARTMENT" | translate }}</th>
        <th>{{ "SALARY" | translate }}</th>
        <th>{{ "ENTRY_DATE" | translate }}</th>
        <th>{{ "LEAVE_DATE" | translate }}</th>
        <th>{{ "ACTIONS" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
      <tr
        style="
          text-align: center;
          border: 1px solid #dee2e6;
          padding: 8px;
          cursor: pointer;
        "
      >
        <td>
          <p-checkbox
            [(ngModel)]="employee.selected"
            binary="true"
            (onChange)="updateSelectedEmployees(employee, $event.checked)"
          ></p-checkbox>
        </td>
        <td>
          {{
            employee.status ? ("ACTIVE" | translate) : ("INACTIVE" | translate)
          }}
        </td>
        <td>{{ employee.id }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.phoneNumber }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.department | translate }}</td>
        <td>{{ employee.salary | currency : "USD" }}</td>
        <td>{{ employee.entryDate }}</td>
        <td>{{ employee.leaveDate }}</td>
        <td>
          <span
            class="action-link"
            (click)="onEditEmployee(employee)"
            style="margin-right: 10px"
          >
            {{ "EDIT" | translate }}
          </span>
          <span
            class="action-link"
            (click)="confirmDelete(employee)"
            style="margin-right: 10px"
          >
            {{ "DELETE" | translate }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-confirmDialog
    [header]="'CONFIRMATION' | translate"
    icon="pi pi-exclamation-triangle"
  ></p-confirmDialog>
  <p-toast></p-toast>
</div>
